.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-inline: auto; 
  height: 150px;
  z-index: 100;
  background-color: #041e6e;
  border-radius: 8px;
  padding:  25px;
}

.modal input {
  color: white;
}

.modal h4 {
  text-align: center;
  padding-bottom: 20px;
  color: white;
}

.modal i {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.modal i:hover {
  transform: scale(1.4);
}

form {
  border: 1px solid #efefef;
  border-radius: 12px;
}